{% extends "base.html" %}

{% block content %}

<h2>{{ t.premium_reactivated_title }}</h2>

<p>
{{ t.premium_reactivated_text }}
</p>

<p>
{{ t.premium_reactivated_info }}
</p>

<p>
<strong>{{ t.premium_reactivated_features_title }}</strong>
</p>

<ul>
    <li>{{ t.premium_reactivated_feature_1 }}</li>
    <li>{{ t.premium_reactivated_feature_2 }}</li>
    <li>{{ t.premium_reactivated_feature_3 }}</li>
    <li>{{ t.premium_reactivated_feature_4 }}</li>
</ul>

<p>
{{ t.premium_reactivated_footer }}
</p>

{% endblock %}